.best-seller-image {
  width: 100%;
  height: 410px;
  margin-left: 10px;
}
.brandsale {
  width: 100%;
  height: auto;
}
.best-deal-container {
  overflow: hidden;
  margin: 15px;
}
.brand-deal-container {
  overflow: hidden;
  margin: 15px;
}

.ForYou-Container {
  max-height: 430px;
  overflow-y: hidden;
}
/* Mobile Screen Settings */

@media only screen and (max-device-width: 768px) {

}
