.deals-container {
  margin-top: 10px;
  background-color:whitesmoke;
  text-align: center;
  padding: 10px;
}

.deals-container-img {
  width: 100%;
}
.deal-card {
  /* background-color: rgb(210, 206, 206); */
  /* border: solid 2px; */
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  height: 420px; /* or whatever width you want. */
  max-height: 420px; /* or whatever width you want. */
  display: inline-block;
}
.deal-btn{
  color: white;
  background: none;
  border: 2px solid;
  border-radius: 5px;
  font-size: medium;
  padding: 5px;
  animation: effect 0.5s linear infinite;
}
@keyframes effect {
  0% {
      color: rgb(128, 0, 0);
      -webkit-background-clip: text;
  }

  100% {
      color: white;
      -webkit-background-clip: text;
  }
}