:root {
    --blue: rgb(37, 21, 197);
    --black: rgb(23, 23, 23);
    --white: white;
    --yellow: rgb(252, 202, 42);
  }
.campaign-img{
    width: 100%;
    border-radius: 5px;
    height: 200px;
}

.campaign-container{
background-color: var(--white);
width: 100%;
}
.card{
    /* margin-top:-25px;
    margin: 15px; */
    margin-left: 20px;
    margin-right: 20px;
    padding:0;
}