.Categories-btn{
    background: none;
    border-radius: 5px;
    border: none;
    font-size: 700;
    font-weight: 700;
    padding: 10px;
    text-decoration: none;
  
}
.Categories-btn:hover{
    color: rgb(37, 21, 197);


}
.Categories-toggle{
    background: none;
    border-radius: 5px;
    border: none;
    font-size: large;
    font-weight: 500;
    padding: 10px;
    color: red;
}
.Categories-toggle:hover{
    background-color: rgb(193, 191, 191);

}
.categories-container{
    background-color: whitesmoke;
    /* margin-top: 10px; */
    width: 100%;
}