:root {
  --blue: rgb(37, 21, 197);
  --black: rgb(23, 23, 23);
  --white: white;
  --yellow: rgb(252, 202, 42);
}
.search {
  margin-top: 15px;
  width: 100%;
}
.search input {
  border: none;
  width: 90%;
  height: 30px;
}
.search input::placeholder {
  text-align: center;
  font-size: medium;
  color: var(--blue);
}
.search input:focus {
  border: none;
}
.search button {
  background: none;
  border: none;
  margin-top: 5px;
  margin-left: 5px;
  color: var(--blue);
  font-size: large;
}
.search button:hover {
  color: var(--blue);
}
.location {
  margin-top: 25px;
  border: none;
  border-radius: 50px;
}
.icons-location {
  font-size: xx-large;
  color: var(--white);
  margin-top: 10px;
}
/* .cart-nav {
 font-size: 1000;
} */
.cart-button {
  background: none;
  border-radius: 5px;
  border: none;
  font-size: medium;
  font-weight: 500;
  padding: 10px;
  color: var(--black);
  margin-top: 10px;
  margin-left: 50px;
}
.cart-button:hover {
  color: var(--blue);
}
.signin {
  /* margin-top: 0px; */
  color: var(--white);
  font-size: large;
}
/* .signin-btn {
  background: none;
  border-radius: 5px;
  border: none;
  font-size: medium;
  font-weight: 500;
  padding: 10px;
  color: var(--black);
  margin-top: 10px;
}
.signin-btn:hover {
  color: var(--blue);
} */

.navbar-container {
  /* background-image: linear-gradient(to right,rgb(252, 202, 42), rgb(243, 200, 58),rgb(252, 202, 42)); */
  /* border-radius: 5px; */
  background-color: var(--yellow);
}
.logo {
  width: 60%;
  padding: 2px;
  padding-left: 22px;
}
.language-container {
  margin-left: 30px;
}
* {
  margin: 0;
  padding: 0;
}
@media only screen and (max-device-width: 768px) {
  .logo {
    display: block;
    width: 20%;
    margin: auto;
  }
}
.location-image {
  width: 12%;
  margin-top: 20px;
}
