:root {
  --blue: rgb(37, 21, 197);
  --black: rgb(23, 23, 23);
  --white: white;
  --yellow: rgb(252, 202, 42);
}
.Login-input {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  height: 25px;
}
.Login-btn {
  background: none;
  background-color: var(--yellow);
  font-size: large;
  padding: 10px;
  border: none;
  margin-top: 10px;
  text-align: center;
  float: right;
}
.LoginPage-Container {
  margin-top: 20px;
  padding: 50px;
}
#forget {
  float: left;
}
.input-container {
  margin-top: 25px;
  
}
.social-media-login{
  font-size: xx-large;
  background: none;
  border: none;
  background-color: var(--yellow);
  width: 60%;
  text-align: center;
  margin-top: 20px;
  padding: 5px;
}
#Login-heading{
  text-align: center;
}
