:root {
  --blue: rgb(37, 21, 197);
  --black: rgb(23, 23, 23);
  --white: white;
  --yellow: rgb(252, 202, 42);
}
.download-text {
  text-align: center;
}
.play {
  width: 30%;
}
.app {
  width: 30%;
}
.download-image {
  justify-content: center;
  align-items: center;
  display: flex;
}
.social-media {
  text-align: center;
  font-size: large;
}
.social-media-icons {
  text-align: center;
  font-size: xx-large;
}
.Footer-Container {
  margin-top: 10px;
  background-color: rgb(235, 230, 167);
  padding-top: 10px;
}
.logo-footer {
  width: 25%;
  padding-left: 50px;
}
#copy {
  text-align: center;
  color: var(--black);
}
.links {
  text-align: center;
  color: black;
  /* margin: 10px; */
}
.links:hover {
  color: var(--blue);
}
@media only screen and (max-device-width: 768px) {
  .logo-footer {
    display: block;
    /* width: 30%; */
    margin: auto;
  }
}
