:root {
  --blue: rgb(37, 21, 197);
  --black: rgb(23, 23, 23);
  --white: white;
  --yellow: rgb(252, 202, 42);
}
.Footer-Banner-Container {
  background-color: var(--yellow);
  padding: 10px;
  margin:10px;
}
.FB-Images {
  width: 47%;
  margin: 1%;
}
.FB-Heading {
  color: var(--blue);
}
.Img-Container{
  border: 5px solid var(--white);
  margin: 1%;
  border-radius: 2px;
}
/* Mobile Responsive Settings */

@media only screen and (max-device-width: 768px) {
  .FB-Heading {
    text-align: center;
  }
  .Img-Container {
    display: flexbox;
    justify-content: center;
    margin-left: 25px;
  }
  .FB-Images {
    width: 45%;
  }
}
