
:root {
    --blue: rgb(37, 21, 197);
    --black: rgb(23, 23, 23);
    --white: white;
    --yellow: rgb(252, 202, 42);
}
.top-picks-container{
    text-align: center;
    width: 100%;
    /* padding: 10px; */
}
img{
    width: 100%;
}